<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LUẬN VĂN TỐT NGHIỆP</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/style.css" type="text/css">
</head>

<body>
   @await Html.PartialAsync("_HeaderPartialView.cshtml")
    <div class="container">
    @RenderBody()
    </div>
    <!-- Footer Section Begin -->
  @await Html.PartialAsync("_FooterPartialView.cshtml")
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/Assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery.nice-select.min.js"></script>
    <script src="~/Assets/js/jquery-ui.min.js"></script>
    <script src="~/Assets/js/jquery.slicknav.js"></script>
    <script src="~/Assets/js/mixitup.min.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/main.js"></script>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts",required:false)


</body>

</html>