@model LUANVANTOTNGHIEP_VODUCANKHANG.ModelViews.ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>QUÊN MẬT KHẨU</h2>

<h6>Chúng tôi sẽ gửi mật khẩu khôi phục qua email. Xin vui lòng check email để đăng nhập. Cảm Ơn!"</h6>
<hr />
<div class="row">
    <div class="col-md-4">
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Xác Nhận" class="btn btn-primary" /> &nbsp; <a asp-action="Login" asp-controller="Account" class="btn btn-primary">Login</a>
                </div>
            </form>      
        </div>
</div>



