@model LUANVANTOTNGHIEP_VODUCANKHANG.Models.Nhanvien

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminForAdminLayout.cshtml";
}


<div class="container-fluid pt-4 px-4" style="color:whitesmoke">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4" style="color:whitesmoke">
                <h6 class="mb-4">Chi Tiết Phân Quyền</h6>
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="TaikhoanId" />
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control bg-white" readonly />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Hovaten" class="control-label"></label>
                        <input asp-for="Hovaten" class="form-control bg-white" readonly />
                        <span asp-validation-for="Hovaten" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group" hidden>
                        <label asp-for="Matkhau" class="control-label"></label>
                        <input asp-for="Matkhau" class="form-control bg-white" />
                        <span asp-validation-for="Matkhau" class="text-danger"></span>
                    </div>

                    <div class="form-group" hidden>
                        <label asp-for="PhanquyenId" class="control-label">Phân Quyền</label>
                        <select asp-for="PhanquyenId" class="form-control bg-white" asp-items="ViewBag.PhanquyenId"></select>
                        <span asp-validation-for="PhanquyenId" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="TrangthaiId" class="control-label">Trạng Thái Hoạt Động</label>
                        <select asp-for="TrangthaiId" class="form-control" asp-items="ViewBag.TrangthaiId" style="background-color:cadetblue;color:whitesmoke;"></select>
                        <span asp-validation-for="TrangthaiId" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="Ngaytao" class="control-label"></label>
                        <input asp-for="Ngaytao" class="form-control" />
                        <span asp-validation-for="Ngaytao" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="Cmnd" class="control-label"></label>
                        <input asp-for="Cmnd" class="form-control" />
                        <span asp-validation-for="Cmnd" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="Ngaysinh" class="control-label"></label>
                        <input asp-for="Ngaysinh" class="form-control" />
                        <span asp-validation-for="Ngaysinh" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="Diachi" class="control-label"></label>
                        <input asp-for="Diachi" class="form-control" />
                        <span asp-validation-for="Diachi" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="Gioitinh" class="control-label"></label>
                        <input asp-for="Gioitinh" class="form-control" />
                        <span asp-validation-for="Gioitinh" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@*<h1>Edit</h1>

<h4>Nhanvien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TaikhoanId" />
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hovaten" class="control-label"></label>
                <input asp-for="Hovaten" class="form-control" />
                <span asp-validation-for="Hovaten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matkhau" class="control-label"></label>
                <input asp-for="Matkhau" class="form-control" />
                <span asp-validation-for="Matkhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhanquyenId" class="control-label"></label>
                <select asp-for="PhanquyenId" class="form-control" asp-items="ViewBag.PhanquyenId"></select>
                <span asp-validation-for="PhanquyenId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaytao" class="control-label"></label>
                <input asp-for="Ngaytao" class="form-control" />
                <span asp-validation-for="Ngaytao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@



