@model LUANVANTOTNGHIEP_VODUCANKHANG.Models.Danhmuc

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="container-fluid pt-4 px-4">Delete</h1>

<h3 class="container-fluid pt-4 px-4">Are you sure you want to delete: @Model.Tendanhmuc?</h3>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Xác nhận xóa danh mục</h6>
                <h6 class="mb-4">@ViewBag.Message</h6>
                <table class="table">

                    <tbody>
                        <tr>
                            <td> Tên Danh Mục</td>
                            <td>@Model.Tendanhmuc  </td>
                        </tr>
                        <tr>
                            <td> Hình Ảnh</td>
                            <td><img width="150" height="150" src="~/images/DanhMuc/@Model.Hinhanh" /></td>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <form asp-area="Admin" asp-controller="AdminDanhmucs" asp-action="Delete">
        <input type="hidden" asp-for="DanhmucId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-danger">Back to List</a>
    </form>
</div>

