
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">BẠN ĐÃ ĐẶT HÀNG THÀNH CÔNG.</h1>
<h1 style="text-align:center"> XIN CẢM ƠN!</h1>
<br />
<h2 style="text-align:center" > <a asp-controller="Account" asp-action="Dashboard" class="btn btn-info">  Xem Đơn Hàng Của Bạn  </a></h2>
<br />

